<h1>Index.razor</h1>

@page "/"

<h1>Willkommen bei Blazor WebAssembly!</h1>

<p>Dies ist die Startseite der Anwendung.</p>

<p>Hier sind einige Links zu anderen Seiten:</p>

<ul>
    <li><NavLink href="counter">Zähler</NavLink></li>
    <li><NavLink href="fetchdata">Wetterdaten abrufen</NavLink></li>
</ul>